body
{
  background-color: #151515;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #c96;
  line-height: 1.5em;
  margin: 0 0 20px 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #c96;
  line-height: 1.5em;
  margin: 20px 0 20px 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.66);
  line-height: 1.5em;
  margin: 0 0 20px 0;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
  height: calc(100vh - 50px);
}

.column:first-child {
  flex-basis: 70%;
}

.column:last-child {
  flex-basis: 30%;
  overflow: auto;
}

.button {
  background-color: #2a2a2a;
  color: white;
  font-size: 14px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease 0s;
  margin: 5px;
}

.button:hover {
  background-color: #c96;
  color: white;
  box-shadow: 0 0 20px #c96;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #464646;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c96;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c96;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
  display: inline-block;
  margin-left: 15px;
  top: -6px;
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px #c96;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.list {
  height: calc(100vh - 500px);
  overflow: auto;
}

.country {
  width: 95%;
  cursor: pointer;
}

.countries {
  color: white;
  display: grid;
  padding: 8px;
  background-color: #2a2a2a;
  margin-bottom: 5px;
  border-radius: 10px;
}

.search {
  background-color: #2a2a2a;
  border-radius: 10px;
  border-color: #c96;
  padding: 10px;
  margin-bottom: 15px;
  width: 50%;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c96;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #efb277;
}

.selected {
  background-color: #c96
}

.map-view {
  margin: 20px;
  width: 65vw; /* 80% of viewport width */
  height: 85vh; /* 60% of viewport height */
}
