<body>

<div class="container">
  <div style="text-align: center">
    <div id="map" class="column map-view"></div>
    <button class="button" (click)="resetMap()">Reset Map</button>
  </div>

  <div class="column">
    <h1>Visited Countries</h1>
    <p>
      MyScratchMap allows you to keep track of the countries you have
      visited and gives you the ability to share the data with others.
      You can select the countries by clicking on them on the world map,
      and the list of visited countries will be displayed below, if the
      "Show Countries" switch is turned on. </p>

<!--    <h2 style="display: inline-block">Show Options</h2>-->
<!--    <label class="switch">-->
<!--      <input type="checkbox" id="show-visited-countries" (click)="toggleVisitedCountries()">-->
<!--      <span class="slider round"></span>-->
<!--    </label>-->

<!--    <p class="selected-markers" [ngClass]="{'show': showOptions, 'hide': !showOptions}">-->
<!--      {{getVisitedCountries()}}</p>-->

    <h2>All Countries</h2>
    <input type="text" id="search" class="search" placeholder="Search..." (keyup)="filterCountries($event)">
    <div class="list">
      <div *ngFor="let country of filteredCountries" class="country" (click)="toggleCountry(country)">
        <div class="countries" [ngClass]="{'selected': getVisitedCountries().includes(country)}">
          {{country}}
        </div>
      </div>
    </div>

    <h2>Export Data</h2>
    <button class="button" (click)="saveImage()">Save Image</button>
    <button class="button" (click)="downloadCSV()">Download CSV</button>
    <button class="button" (click)="downloadJSON()">Download JSON</button>
    <button class="button" (click)="downloadTXT()">Download TXT</button>

  </div>
</div>
